body {
	font-family: 'Montserrat', sans-serif;
}
main {
	// margin-top: 110px;
	transition: margin-top 0.3s ease-in-out;
}
/**   Line-Height   */
.lh-1e {
	line-height: 1em !important;
}
.lh-1e1 {
	line-height: 1.1em !important;
}
.lh-1e2 {
	line-height: 1.2em !important;
}
.lh-1e3 {
	line-height: 1.3em !important;
}
.lh-1e4 {
	line-height: 1.4em !important;
}
.lh-1e5 {
	line-height: 1.5em !important;
}
.lh-1e6 {
	line-height: 1.6em !important;
}
.lh-1e7 {
	line-height: 1.7em !important;
}
.lh-1e8 {
	line-height: 1.8em !important;
}
.lh-2e {
	line-height: 2em !important;
}
.lh-2e1 {
	line-height: 2.1em !important;
}
.lh-2e5 {
	line-height: 2.5em !important;
}
.bg-primary {
	background-color: $color-primary!important;
}
.bg-secondary {
	background-color: $color-secondary!important;
}
.bg-muted {
	background-color: $color-muted!important;
}
.bg-gray {
	background-color: #E9EAEC!important;
}
.bg-transparent {
	background-color: transparent!important;
}
.color-primary {
	color: $color-primary;
}
.color-secondary {
	color: $color-secondary;
}
/* Underlining (for headers and subheaders) */
.underline-custom:after {
	content: '';
	margin-top: 8px;
	height: 1px;
	background-color: #fff;
    display: block;
}
.underline-custom.underline-xs:after {
	width: 1em;
}
.underline-custom.underline-sm:after {
	width: 1.5em;
}
.underline-custom.underline-md:after {
	width: 3em;
}
.underline-custom.underline-lg:after {
	width: 4em;
}
.underline-custom.underline-default:after {
	background-color: #fff;
}
.underline-custom.underline-dark:after {
	background-color: #000;
}
.underline-custom.underline-primary:after {
	background-color: $color-primary;
}
.underline-custom.underline-secondary:after {
	background-color: $color-secondary;
}
.underline-custom.underline-center:after {
	margin-left: auto;
	margin-right: auto;
}

/* BUTTONS */
.custom-btn {
	border-radius: 50px;
	border: 0;
	transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
	background-size: 300% 100%;
	background-position: 100%;
	font-weight: 600;
	padding: 15px 35px;
	font-size: 1.1em;
	background-image: linear-gradient(to right, $color-primary 50%, $color-secondary 50%);
}
.custom-btn:hover {
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0, 0, 0, 1);
	background-position: 0%;
}
.card a.custom-btn:hover {
	color: #fff!important;
}

img.social-icon {
	width: 30px;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.box-shadow {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.rounded-15px {
	border-radius: 15px!important;
}

ol.breadcrumb {
	li.breadcrumb-item > a {
		color: #000;
		font-weight: 500;
	}
	li.breadcrumb-item.active {
		color: $color-primary;
		font-weight: 500;
	}
}

// ul.fa-ul {
// 	li > i {
// 		color: $color-primary;
// 	}
// }

@media screen and (max-width: $break-md) {
	// main {
	// 	margin-top: 90px;
	// }
}
@media screen and (max-width: $break-xs) {
	// main {
	// 	margin-top: 60px;
	// }
}