body {
	font-family: 'Montserrat', sans-serif;
}
main {
	transition: margin-top 0.3s ease-in-out;
}

.bg-primary {
	background-color: $color-primary!important;
}
.bg-secondary {
	background-color: $color-secondary!important;
}
.bg-muted {
	background-color: $color-muted!important;
}
.color-primary {
	color: $color-primary;
}
.color-secondary {
	color: $color-secondary;
}
/* Underlining (for headers and subheaders) */
.underline-custom:after {
	content: '';
	margin-top: 8px;
	height: 2px;
	background-color: #fff;
    display: block;
}
.underline-custom.underline-xs:after {
	width: 1em;
}
.underline-custom.underline-sm:after {
	width: 2em;
}
.underline-custom.underline-md:after {
	width: 3em;
}
.underline-custom.underline-lg:after {
	width: 4em;
}
.underline-custom.underline-primary:after {
	background-color: $color-primary;
}
.underline-custom.underline-primary:after {
	background-color: $color-primary;
}
.underline-custom.underline-secondary:after {
	background-color: $color-secondary;
}
.underline-custom.underline-center:after {
	margin-left: auto;
	margin-right: auto;
}

/* BUTTONS */
.custom-btn {
	border-radius: 25px;
	border: 0;
	transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
	background-size: 200% 100%;
	background-position: 100%;
	font-weight: 500;
}
.custom-btn:hover {
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0, 0, 0, 1);
	background-position: 0%;
}
.custom-btn {
	font-size: 1.5em;
	background-image: linear-gradient(to right, $color-primary 50%, $color-secondary 50%);
}


@media screen and (max-width: $break-md) {
	main {
		margin-top: 60px;
	}
}
@media screen and (max-width: $break-xs) {
	a.custom-btn {
		width: 100%;
	}
}